global
    log stdout format raw local0
    maxconn 2048
    daemon

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend kubernetes
    bind {{ lb_ip }}:6443
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
{% for host in groups['masters'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(hostvars[host].ansible_default_ipv4.address) }}:6443 check check-ssl verify none fall 3 rise 2
{% endfor %}