---
- name: Download Calico manifest
  get_url:
    url: "https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/calico.yaml"
    dest: /tmp/calico.yaml
    mode: '0644'

- name: Apply Calico CNI
  kubernetes.core.k8s:
    state: present
    src: /tmp/calico.yaml
    kubeconfig: "{{ ssh_user_home }}/.kube/config"

- name: Wait for Calico pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: kube-system
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
  register: calico_pods
  until: >
    calico_pods.resources | length > 0 and
    (
      calico_pods.resources
      | selectattr('status.containerStatuses', 'defined')
      | selectattr(
          'status.containerStatuses',
          'map',
          attribute='ready'
        )
      | map('min')
      | list
      | min
    )
  retries: 20
  delay: 15
  ignore_errors: yes