---
- name: Download Calico manifest
  get_url:
    url: "https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/calico.yaml"
    dest: /tmp/calico.yaml
    mode: '0644'

- name: Apply Calico CNI
  command: kubectl apply -f /tmp/calico.yaml
  environment:
    KUBECONFIG: "{{ ssh_user_home }}/.kube/config"

- name: Wait for Calico pods to be ready
  command: kubectl wait --for=condition=Ready pods --all -n kube-system --timeout=300s
  environment:
    KUBECONFIG: "{{ ssh_user_home }}/.kube/config"
  failed_when: false