---
- name: Create ArgoCD Namespace
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
  ignore_errors: true

- name: Install ArgoCD with manifest
  kubernetes.core.k8s:
    state: present
    src: https://raw.githubusercontent.com/argoproj/argo-cd/{{ addons.argocd.version }}/manifests/install.yaml
    namespace: argocd
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
  ignore_errors: true

- name: Expose ArgoCD with NodePort (8080)
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: argocd-server-np
        namespace: argocd
      spec:
        type: NodePort
        selector:
          app.kubernetes.io/name: argocd-server
        ports:
          - name: http
            port: 80
            targetPort: 8080
  ignore_errors: true