---
- name: Install Helm
  include_tasks: helm.yml

- name: Add OpenEBS Helm repository
  kubernetes.core.helm_repository:
    name: openebs
    repo_url: https://openebs.github.io/openebs

- name: Install OpenEBS
  kubernetes.core.helm:
    name: openebs
    chart_ref: openebs/openebs
    release_namespace: openebs
    create_namespace: true
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
    values:
      engines:
        replicated:
          mayastor:
            enabled: false

- name: Wait for OpenEBS pods to be ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: openebs
    kubeconfig: "{{ ssh_user_home }}/.kube/config"
  register: openebs_pods
  until: >
    openebs_pods.resources | length > 0 and
    (
      openebs_pods.resources
      | selectattr('status.containerStatuses', 'defined')
      | selectattr(
          'status.containerStatuses',
          'map',
          attribute='ready'
        )
      | map('min')
      | list
      | min
    )
  retries: 20
  delay: 15
  ignore_errors: yes