---
- name: Check if Kubernetes is already initialized
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_init

- name: Create kubeadm configuration
  template:
    src: kubeadm-config.yaml.j2
    dest: /etc/kubernetes/kubeadm-config.yaml
    mode: "0644"
  when: not kubeadm_init.stat.exists

- name: Initialize Kubernetes cluster
  command: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml
  when: not kubeadm_init.stat.exists
  register: kubeadm_init_output

- name: Ensure .kube directory exists
  file:
    path: "{{ ansible_user_dir }}/.kube"
    state: directory
    mode: '0755'

- name: Copy admin kubeconfig
  copy:
    src: /etc/kubernetes/admin.conf
    dest: "{{ ansible_user_dir }}/.kube/config"
    remote_src: yes
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: '0644'

- name: Generate join command
  shell: kubeadm token create --print-join-command
  register: join_command_output
  changed_when: false

- name: Save join command to file
  copy:
    content: "{{ join_command_output.stdout }}"
    dest: /tmp/kubernetes_join_command.sh
    mode: '0755'

- name: Fetch join command to local machine
  fetch:
    src: /tmp/kubernetes_join_command.sh
    dest: /tmp/kubernetes_join_command.sh
    flat: yes
